# Ignorar archivos de entorno virtual
venv/
.env

# Ignorar archivos de configuración local
*.local

# Ignorar archivos de configuración
src/data_collection/config.py

# Ignorar archivos de Python compilados
__pycache__/
*.pyc

# Ignorar archivos de datos grandes
data/
*.csv
*.json

# Ignorar Jupyter Notebook checkpoints
.ipynb_checkpoints/